{
  "source": "{{ esdoc_src }}",
  "destination": "{{ esdoc_destination }}",
  "experimentalProposal": {
    "classProperties": true,
    "objectRestSpread": true,
    "exportExtensions": true,
    "dynamicImport": true
  },
  "parserPlugins": [
    "flow"
  ]
}