const packageJson = require('{{ esdoc_config_package_json_path }}');
const semver = require('semver');

const version = semver(packageJson.version);
const release = `${ version.major }.${ version.minor }.${ version.patch }`;

module.exports = {
  release,
  title: packageJson.name,
  source: "src",
  destination: `{{ esdoc_site_dir }}/versions/${ release }`,
  experimentalProposal: {
    "classProperties": true,
    "objectRestSpread": true,
    "exportExtensions": true,
    "dynamicImport": true
  },
  parserPlugins: [
    "flow",
  ],
  styles: [
    "{{ esdoc_support_dir }}/style.css",
  ],
  scripts: [
    "{{ esdoc_support_dir }}/script.js",
  ],
}
